
<h1><p>Rock, paper, scissors Application </p></h1>

<h3><p>OUTPUT: </p></h3>

<p>Player chose: <%= @player_throw  %></p>
<p>Computer chose: <%= @computer_throw  %></p>
<strong><%= @message %></strong>
<p>
	  New game? Why not make a new choice?:
	  <a href="/throw/rock">Rock</a>
	  <a href="/throw/paper">Paper</a>
	  <a href="/throw/scissors">Scissors</a>
</p>
<p><a href="/index.html">Go back home.</a></p>
<p><a href="/stats/stats">Stats Page</a></p>