
<h1><p>Rock, paper, scissors Application </p></h1>
I HOPE THIS WORKS BY THE DUE DATE.
CROSSING MY FINGERS THAT THIS WORKS. 
<h3><p>OUTPUT: </p></h3>

<p>Player chose: <%= @player_throw  %></p>
<p>Awesome Computer chose: <%= @computer_throw  %></p>
<strong><%= @message %></strong>
<p>
	  New game? Why not make a new choice?:
	  <a href="/throw/rock">Rock</a>
	  <a href="throw/paper">Paper</a>
	  <a href="throw/scissors">Scissors</a>
</p>
<p><a href="http://localhost:3000/index.html">Give up? Go back home.</a></p>