<h1><p>Rock, paper, scissors Application </p></h1>
 
<h3><p>OUTPUT: </p></h3>
<p>Wins: <%= @win %></p>
<p>Loss: <%= @loss %></p>
<p>Ties: <%= @tie %></p>
<p>
	  New game? Why not make a new choice?:
	  <a href="/throw/rock">Rock</a>
	  <a href="/throw/paper">Paper</a>
	  <a href="/throw/scissors">Scissors</a>
</p>
<p><a href="/index.html">Go back home.</a></p>
<p><a href="/clear/clear">Clear Stats</a></p>
