<h1><p>Rock, paper, scissors Application </p></h1>
I HOPE THIS WORKS BY THE DUE DATE.
CROSSING MY FINGERS THAT THIS WORKS. 
<h3><p>OUTPUT: </p></h3>
<p>Wins(GOOD JOB BRO): <%= @win %></p>
<p>Loss(uninstall pl0x): <%= @loss %></p>
<p>Ties: <%= @tie %></p>